################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Python/__pycache__
/pyapp/appcode/__pycache__
/pyapp/test_appcode/__pycache__
/pyapp/.coverage
